*{
    margin: 0;
    padding: 0;
}

.searchContainer{
    margin: 0;
    padding: 0;

    .fa {
        &:hover {
          cursor: pointer;
          color: green;
        }
    }

    .btn {
        float: none;
        text-align: left;
        padding: 20px;
        margin: 1;
    }    
}

